.deviceStatus {font-size: smaller;color: dimgray;}
.title { font-size: 22px; margin-top: 4px; margin-bottom: 12px;}
.history { display:inline-block; padding:10px; }
.photo { float:right; margin-left: 10px; height: 220px;}
.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }      
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.app-panels > * {
  width: 320px;
  background-color: #EAEAEA;
  box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
}
@media all and (max-width: 600px) {
  .app-panels > * {
      min-width: 100%;
      max-width: 100%;
  }
}